@using Fridges.Client.Models.Entities;

@model Product
@{
    ViewData["Title"] = "Product";
}

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quanity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Name</td>
                <td>@Model.DefaultQuantity</td>
            </tr>
        </tbody>
    </table>
</div>
