@using Fridges.Client.Models.DTOs;
@using Fridges.Client.Models.Entities;

@model CreateFridgeDto
@{
    ViewData["Title"] = "Create fridge";
}

<div class="d-flex align-items-center" style="height: 80vh;">
    <div class="container w-50 my-auto p-3" style="border: 1px solid black; border-radius: 12px;">

        <form asp-action="Create" method="post">
            <div class="row">

                <div class="col-sm">
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <input asp-for="Name" type="text" class="form-control" />
                    <label class="form-label">Name</label>
                    
                    <span asp-validation-for="OwnerName" class="text-danger"></span>
                    <input asp-for="OwnerName" type="text" class="form-control" />
                    <label class="form-label">OwnerName</label>

                    <input id="fridge-model-input" asp-for="FridgeModelId" type="hidden" class="form-control" />

                    <div id ="dropdown" class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select fridge model
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var fridgeModel in ViewBag.FridgeModels)
                            {
                                <p class="dropdown-item" fridge-model-id="@fridgeModel.Id">@fridgeModel.Name</p>
                            }
                        </div>
                    </div>
                </div>
                
                    <div class="mx-2">
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Save</button>
                    </div>
            </div>
        </form>
    </div>
</div>

<script>
    // Get the dropdown button and dropdown items
    const dropdownButton = document.getElementById('dropdownMenuButton');
    const fridgeModelInput = document.getElementById('fridge-model-input');
    const dropdownItems = document.querySelectorAll('.dropdown-item');

    // Add a click event listener to each dropdown item
    dropdownItems.forEach(item => {
        item.addEventListener('click', () => {
            // Get the value of the selected item
            const selectedItemName = item.innerHTML;
            const selectedItemId = item.getAttribute('fridge-model-id');

            // Set the text of the dropdown button to the selected item value
            dropdownButton.innerText = selectedItemName;
            fridgeModelInput.value = selectedItemId;
        });
    });
</script>
                            